.highlighter-code-box {
    background: #fff;
    position: absolute;
    left: 50% ;
    top: 50% ;
    border: 1px solid #339;
    padding: 5px;
    width: 240px;
    height: 160px;
    margin: -80px 0 0 -120px;
}
.highlighter-code-input{
    
}
